@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #f8fafc; /* Very light slate background */
  color: #1e293b; /* Softer black for text */
}

/* Smooth scrolling for the whole app */
html {
  scroll-behavior: smooth;
}